<!doctype html>

<script>

function async_request(url, callback, cbdata) {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var result = JSON.parse(xmlhttp.responseText);
            callback(result, cbdata);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}

function display_public_ip(result, data) {
    document.getElementById("public_ip").innerHTML = result.public_ip
}

function display_pings(result, id) {
    document.getElementById(id).innerHTML = result.pings
}

async_request("api/public_ip", display_public_ip, '');
async_request("api/pings?host={{gateway}}", display_pings, "pings_gw");
async_request("api/pings?host={{dns}}", display_pings, "pings_dns");

</script>

<!--Mobile specific meta goodness :)-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{{name}}</title>

<table style="width:100%">
{% for ni in ifaces %}
<tr>
<td>{{ni}}</td>
<td>{{addrs[ni]}}</td>
</tr>
{% if essids[ni] %}
<tr><td>ESSID:</td><td>{{essids[ni]}}</td></tr>
{% endif %}
{% endfor %}

<tr><td>Gateway:</td><td>{{gateway}}</td></tr>
<tr><td>Pings:</td><td><div id="pings_gw"></div></td></tr>
<tr><td>DNS:</td><td>{{dns}}</td></tr>
<tr><td>Pings:</td><td><div id="pings_dns"></div></td></tr>
<tr><td>Public IP:</td><td><div id="public_ip"></div></td></tr>
</table>

