<!doctype html>

<!--Mobile specific meta goodness :)-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{{name}}</title>

{% for ni in ifaces %}
<table style="width:100%">
<tr><td>Name:</td><td>{{ni}}</td></tr>
<tr><td>Address:</td><td>{{addrs[ni]}}</td></tr>
{% if essids[ni] %}
<tr><td>ESSID:</td><td>{{essids[ni]}}</td></tr>
{% endif %}
</table>
{% endfor %}

<table style="width:100%">
<tr><td>Gateway:</td><td>{{gateway}}</td></tr>
<tr><td>DNS:</td><td>{{dns}}</td></tr>
<tr><td>Public IP:</td><td>{{publicip}}</td></tr>
</table>

