<!doctype html>
<html>
<head>
    <!--css-->
    <link rel="stylesheet" href="static/styles.css">
    <!--Mobile specific meta goodness :)-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body onload="send_requests()">
<script>

function async_request(url, callback, cbdata) {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var result = JSON.parse(xmlhttp.responseText);
            callback(result, cbdata);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}

function display_uptime(result, data) {
    document.getElementById("uptime").innerHTML = result.uptime + " seconds";
}

function display_public_ip(result, data) {
    document.getElementById("public_ip").innerHTML = result.public_ip + "<br>(" + result.public_hostname + ")";
}

function display_client_ip(result, data) {
    document.getElementById("client_ip").innerHTML = result.client_ip;
}

function hex2(n)
{
    if (n < 16) {
	return '0' + n.toString(16);
    } else {
        return n.toString(16);
    }
}

function display_pings(result, id) {
    var pings = result.pings;
    var green = (pings * 25);
    var red = ((10 - pings) * 25);
    var color = '#' + hex2(red) + hex2(green) + '00';

    document.getElementById(id).innerHTML = "<font color='" + color + "'>" + pings + "/10 pings</font>";
}

function send_requests() {
    async_request("api/uptime", display_uptime, '');
    document.getElementById("uptime").innerHTML = 'querying...';

    async_request("api/public_ip", display_public_ip, '');
    document.getElementById("public_ip").innerHTML = 'querying...';

    async_request("api/client_ip", display_client_ip, '');
    document.getElementById("client_ip").innerHTML = 'querying...';

    async_request("api/pings?host={{gateway}}", display_pings, "pings_gw");
    document.getElementById("pings_gw").innerHTML = 'pinging...';

    async_request("api/pings?host={{dns}}", display_pings, "pings_dns");
    document.getElementById("pings_dns").innerHTML = 'pinging...';

    async_request("api/pings?host=8.8.8.8", display_pings, "pings_internet");
    document.getElementById("pings_internet").innerHTML = 'pinging...';
}

</script>


<title>{{name}}</title>

<table class="main">

<tr>
<td>Uptime:</td>
<td><div id="uptime"></div></td>
</tr>

{% for ni in ifaces %}
  {% if ni != 'lo' %}
<tr>
    {% if ni in config_ifaces and config_ifaces[ni] == 'wpa' %}
<td><a href="/wpa_status?iface={{ni}}">{{ni}}</a></td>
    {% else %}
<td>{{ni}}</td>
    {% endif %}
<td>{{addrs[ni]}}</td>
    {% if essids[ni] %}
<td>{{essids[ni]}}</td>
    {% else %}
<td></td>
    {% endif %}
</tr>
  {% endif %}
{% endfor %}

<tr>
<td>Gateway:</td>
<td>{{gateway}}</td>
<td><div id="pings_gw"></div></td>
</tr>

<tr>
<td>DNS:</td>
<td>{{dns}}</td>
<td><div id="pings_dns"></div></td>
</tr>

<tr>
<td>Internet:</td>
<td>(8.8.8.8)</td>
<td><div id="pings_internet"></div></td>
</tr>

<tr><td>Public IP:</td><td><div id="public_ip"></div></td></tr>
<tr><td>Your IP:</td><td><div id="client_ip"></div></td></tr>
</table>

<nav id="primary_nav">

    <ul>
        <li><a href="">Reload</a></li>
        <li><a href="/control">Control</a></li>
    </ul>

</nav><!--end primary_nav-->


</body>
</html>

