<!doctype html>
<html>
{% include('head.html') %}
<body>

<script src="/static/functions.js" type="text/javascript"></script>
<script>

var iface = '{{iface|safe|escapejs}}';
var expanded_cells = {};

function expand_collapse_cell(bssid, ssid, nwid) {
    if (expanded_cells[bssid] == undefined || !expanded_cells[bssid]) {
        async_request('api/wpa/bss?iface=' + iface + '&id=' + bssid, bss_info_cells, nwid);
        expanded_cells[bssid] = true;
    } else {
        document.getElementById(bssid).innerHTML =
           "<td>" + ssid + "</td>";
        expanded_cells[bssid] = false;
    }
}

function bss_info_cells(result, data) {
    nwid = data;
    bssid = result.bssid;
    document.getElementById(bssid).innerHTML =
       "<td>" +
       "  <table>" +
       "    <tr><td>SSID:</td><td>" + result.ssid + "</td></tr>" +
       "    <tr><td>Channel:</td><td>" + result.channel + "</td></tr>" +
       "    <tr><td>Level:</td><td>" + result.level + "</td></tr>" +
       "    <tr><td>Flags:</td><td>" + result.flags + "</td></tr>" +
       ( nwid != null && nwid != '' ?
         "    <tr><td><a href='wpa_select?iface=" + iface + "&id=" + nwid +  "'>connect</td></tr>" : "")  +
       "  </table>" +
       "</td>";
}

</script>

<title>Configured Networks</title>
{% include 'menu.html' %}
<div class="content">
<table class="main">
{% for n in networks %}
<tr id="{{n|safe}}">
<td>{{n|safe}}</td>
<td align="right"><a href="/wpaconf/edit_network?iface={{iface}}&ssid={{n|safe}}">edit</a>
<td align="right"><a href="/wpaconf/remove_network?iface={{iface}}&ssid={{n|safe}}">remove</a>
</tr>
{% endfor %}
</div>
</body>
</html>

