<!doctype html>
<html>
<head>
    <!--css-->
    <link rel="stylesheet" href="static/styles.css">
    <!--Mobile specific meta goodness :)-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<script>

var iface = '{{iface|safe|escapejs}}';
var expanded_cells = {};

function async_request(url, callback, cbdata) {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var result = JSON.parse(xmlhttp.responseText);
            callback(result, cbdata);
        }
    };
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}

function hex2(n)
{
    if (n < 16) {
        return '0' + n.toString(16);
    } else {
        return n.toString(16);
    }
}

function range2color(value, min, max) {
    green = (value - min) * 255 / (max - min);
    if (green > 255) {
        green = 255;
    }
    red = 255 - green;
    return '#' + hex2(red) + hex2(green) + '00';	 
}

function expand_collapse_cell(bssid, ssid, nwid) {
    if (expanded_cells[bssid] == undefined || !expanded_cells[bssid]) {
        async_request('api/wpa/bss?iface=' + iface + '&id=' + bssid, bss_info_cells, nwid);
        expanded_cells[bssid] = true;
    } else {
        document.getElementById(bssid).innerHTML =
           "<td>" + ssid + "</td>";
        expanded_cells[bssid] = false;
    }
}

function bss_info_cells(result, data) {
    nwid = data;
    bssid = result.bssid;
    document.getElementById(bssid).innerHTML =
       "<td>" +
       "  <table>" +
       "    <tr><td>SSID:</td><td>" + result.ssid + "</td></tr>" +
       "    <tr><td>Channel:</td><td>" + result.channel + "</td></tr>" +
       "    <tr><td>Level:</td><td>" + result.level + "</td></tr>" +
       "    <tr><td>Flags:</td><td>" + result.flags + "</td></tr>" +
       ( nwid != null && nwid != '' ?
         "    <tr><td><a href='wpa_select?iface=" + iface + "&id=" + nwid +  "'>connect</td></tr>" : "")  +
       "  </table>" +
       "</td>";
}

</script>

<title>Scan Results</title>

<table class="scan">

{% for bss in bss_list %}
{%   set bssid = bss['bssid'] %}
<tr bgcolor="#{{bss['color']}}" id="{{bssid}}" onclick="expand_collapse_cell('{{bssid}}', '{{bss['ssid']|safe|escapejs}}', '{{bss['nwid']}}')" >
<td>{{bss['ssid'][:25]}}</td>
</tr>
{% endfor %}

</table>
<nav id="primary_nav">

    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/wpa_status?iface={{iface}}">Status</a></li>
        <li><a href="">Reload</a></li>
    </ul>

</nav><!--end primary_nav-->

</body>
</html>

