<!doctype html>
<html>
<head>
    <!--css-->
    <link rel="stylesheet" href="static/styles.css">
    <!--Mobile specific meta goodness :)-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<script src="static/functions.js" type="text/javascript"></script>
<script>

var iface = '{{iface|safe|escapejs}}';
var expanded_cells = {};

function expand_collapse_cell(bssid, ssid, nwid) {
    if (expanded_cells[bssid] == undefined || !expanded_cells[bssid]) {
        async_request('api/wpa/bss?iface=' + iface + '&id=' + bssid, bss_info_cells, nwid);
        expanded_cells[bssid] = true;
    } else {
        document.getElementById(bssid).innerHTML =
           "<td>" + ssid + "</td>";
        expanded_cells[bssid] = false;
    }
}

function bss_info_cells(result, data) {
    nwid = data;
    bssid = result.bssid;
    document.getElementById(bssid).innerHTML =
       "<td>" +
       "  <table>" +
       "    <tr><td>SSID:</td><td>" + result.ssid + "</td></tr>" +
       "    <tr><td>Channel:</td><td>" + result.channel + "</td></tr>" +
       "    <tr><td>Level:</td><td>" + result.level + "</td></tr>" +
       "    <tr><td>Flags:</td><td>" + result.flags + "</td></tr>" +
       ( nwid != null && nwid != '' ?
         "    <tr>" +
                  "<td><a href='/wpa_select?iface=" + iface + "&id=" + nwid +  "'>connect</td>" +
                  "<td><a href='/wpaconf/edit_network?iface=" + iface + "&ssid=" + result.ssid +  "'>edit</td>" +
         "      </tr>" :
         "      <tr>" +
                  "<td><a href='/wpaconf/edit_network?iface=" + iface + "&ssid=" + result.ssid +  "'>add</td>" +
         "      </tr>"
       )  +
       "  </table>" +
       "</td>";
}

</script>

<title>Scan Results</title>

<table class="scan">

{% for bss in bss_list %}
{%   set bssid = bss['bssid'] %}
<tr bgcolor="#{{bss['color']}}" id="{{bssid}}" onclick="expand_collapse_cell('{{bssid}}', '{{bss['ssid']|safe|escapejs}}', '{{bss['nwid']}}')" >
<td>{{bss['ssid'][:25]}}</td>
</tr>
{% endfor %}
</table>

{% set thisitem = 'scan' %}
{% include 'wpa_menu.html' %}

</body>
</html>

