<!doctype html>
<html>
{% include('head.html') %}
<body>

<script src="/static/functions.js" type="text/javascript"></script>
<script>

var iface = '{{iface|safe|escapejs}}';
var expanded_cells = {};

function expand_collapse_cell(bssid, ssid, nwid) {
    expanded_cells[bssid] = !expanded_cells[bssid];
    if (expanded_cells[bssid]) {
        async_request('/api/wpa/bss?iface=' + iface + '&id=' + bssid, bss_info_cells, nwid);
    } else {
        document.getElementById(bssid).innerHTML =
           "<td>" + ssid + "</td>";
    }
}

function bss_info_cells(result, data) {
    nwid = data;
    bssid = result.bssid;
    document.getElementById(bssid).innerHTML =
       "<td>" +
       "  <table>" +
       "    <tr><td>SSID:</td><td>" + result.ssid + "</td></tr>" +
       "    <tr><td>Channel:</td><td>" + result.channel + "</td></tr>" +
       "    <tr><td>Level:</td><td>" + result.level + "</td></tr>" +
       "    <tr><td>Flags:</td><td>" + result.flags + "</td></tr>" +
       ( nwid != null && nwid != '' ?
         "    <tr>" +
                  "<td><a href='/wpa_select?iface=" + iface + "&id=" + nwid +  "'>connect</td>" +
                  "<td><a href='/wpaconf/edit_network?iface=" + iface + "&ssid=" + result.ssid +  "'>edit</td>" +
         "      </tr>" :
         "      <tr>" +
                  "<td><a href='/wpaconf/edit_network?iface=" + iface + "&ssid=" + result.ssid +  "'>add</td>" +
         "      </tr>"
       )  +
       "  </table>" +
       "</td>";
}

</script>

<title>Scan Results</title>
{% include('menu.html') %}
<div class="content">
<table class="scan">

{% for bss in bss_list %}
{%   set bssid = bss['bssid'] %}
<tr bgcolor="#{{bss['color']}}" id="{{bssid}}" onclick="expand_collapse_cell('{{bssid}}', '{{bss['ssid']|safe|escapejs}}', '{{bss['nwid']}}')" >
<td>{{bss['ssid'][:25]}}</td>
</tr>
{% endfor %}
</table>
</div>

</body>
</html>

