<!doctype html>
<html>
<head>
    <!--css-->
    <link rel="stylesheet" href="static/styles.css">
    <!--Mobile specific meta goodness :)-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<title>{{name}}</title>

<table class="main">

<tr>
<td>Status:</td><td>{{status['wpa_state']}}</td>
</tr>
</table>

<nav id="primary_nav">
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/wpa_scan?iface={{iface}}">Scan</a></li>
        <li><a href="">Reload</a></li>
    </ul>
</nav><!--end primary_nav-->

</body>
</html>

