<!--Mobile specific meta goodness :)-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>{{name}}</title>

<table style="width:100%">

<tr>
<td>Freq:</td><td>{{status['freq']}}</td>
</tr>
<tr>
<td>Channel:</td><td>{{status['channel']}}</td>
</tr>
<tr>
<td>SSID:</td><td>{{status['ssid']}}</td>
</tr>
<tr>
<td>IP:</td><td>{{status['ip_address']}}</td>
</tr>
<tr>
<td>Level:</td><td>{{bss['level']}}</td>
</tr>
<tr>
<td><a href="/wpa_disconnect?iface={{iface}}">disconnect</a></tr>
</tr>
</table>

</body>
</html>

